LaOcaClient/Connected Services/LaOcaService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LaOcaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LaOcaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="idJugador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="idFotoPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      <xs:element minOccurs="0" name="idPuntuacion" type="xs:int" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="Aspecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAspecto" type="xs:int" />
      <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aspecto" nillable="true" type="tns:Aspecto" />
</xs:schema>